page-notes {
    .saisie {
        width: 100%;
        height: 15em;
    }

    .enregistrer {
        background-color: indigo;
        color: beige;
        font-size: 1.7em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.2em;
        padding: 0.5em;
    }
}
