<!--
  Generated template for the ConferencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Conférence</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>{{ session.title }}</h3>
  <span>{{ session.type }}</span>
  <i> ({{ session.language }})</i>
  <br>
  <span>Catégorie {{ session.category }} </span>
  <br>
  <span *ngFor="let tag of session.tags">{{ tag }}</span>
  <br>
  <button class="speaker" *ngFor="let speaker of sessionSpeakers" (click)="openSpeakerDescription(speaker)">{{ speaker.name }}</button>
  <br>
  <button class="notes" (click)="openMyNotes()">Mes notes</button>
  <h6>Présentation</h6>
  <p>{{ session.description }}</p>
  
</ion-content>
