<!--
  Generated template for the ConferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Conférences</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  

  <div *ngFor="let day of days()">
    <span class="day"> Conférences du {{day}} </span>

    <button ion-item *ngFor="let session of sessionsByDay[day]" (click)="openSessionDescription(session)">
      <span class="sessionTime"> {{session.startTime}} - {{session.endTime}} </span> 
      {{session.title}}
    </button>

  </div>

</ion-content>
